<!-- <h2>Logistics Dashboard</h2>

<div class="dashboard-container">
  <div class="stat-card" (click)="goToTrips('all')">
    Total Trips: {{ totalTrips }}
  </div>

  <div class="stat-card" (click)="goToTrips('active')">
    Active Trips: {{ activeTrips }}
  </div>

  <div class="stat-card" (click)="goToTrips('completed')">
    Completed Trips: {{ completedTrips }}
  </div>

  <div class="stat-card" (click)="goToTrips('long')">
    Trips > 8 hours: {{ longTrips }}
  </div> -->

  <!--  new navigation to vehicles page -->
  <!-- <div class="stat-card" (click)="goToVehicles('available')">
    Available Vehicles: {{ availableVehicles }}
  </div>
</div> -->
